<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link href="css/mui.min.css" rel="stylesheet" />-->
		<link rel="stylesheet" type="text/css" href="../css/my.css" />
	</head>

	<body>

		<div class="my_content">
			<!--头部-->
			<div class="header">
				<div class="header_left">

				</div>
				<div class="header_right">
					<div class="mui_title" style="font-weight: 700; font-family: " STSong ";">— 我 · 的 —</div>
					<div class="mui_title_two" style="font-weight: 200;">M y</div>
				</div>
			</div>

			<!--中部-->
			<!--背景-->
			<div class="my_bg">
				<img src="../img/my/my_bg.jpeg" alt="" />
			</div>

			<!--登录-->
			<a href="/homein">
				<div class="my_log">
					<img src="../img/my/my_log_bg.png" alt="" class="my_log_img" />
					<span>退出登录</span>
				</div>
			</a>

			<!--my菜单-->
			<div class="my_menu">
				<div class="my_menu_first">
					<div class="samll_menu">
						<a href="/specialin" style="color: black;">
							<img src="../img/my/collection.png" alt="" />
							<span>专题</span>
						</a>
					</div>
					<div class="samll_menu">
						<a href="/memberin" style="color: black;">
							<img src="../img/my/member.png" alt="" />
							<span>会员</span>
						</a>
					</div>
					<div class="samll_menu">
						<a href="/reviewin" style="color: black;">
							<img src="../img/my/review.png" alt="" />
							<span>评价</span>
						</a>
					</div>
				</div>
				<div class="my_menu_second">
					<div class="samll_menu">
						<a href="/backin" style="color: black;">
							<img src="../img/my/feedback.png" alt="" />
							<span>反馈</span>
						</a>
					</div>
					<div class="samll_menu">
						<a href="/helpin" style="color: black;">
							<img src="../img/my/help.png" alt="" />
							<span>帮助</span>
						</a>
					</div>
					<div class="samll_menu">
						<a href="/walletin" style="color: black;">
							<img src="../img/my/wallet.png" alt="" />
							<span>钱包</span>
						</a>
					</div>
				</div>
			</div>

			<!--尾部-->
			<div class="bottom" style="background-color: #fcfcfc; border: 1px solid #e7e7e7;">
				<div class="bottom_first">
					<img src="../img/home/home_gray.png" alt="" />
					<p>
						<a href="/homein/f" style="color: #898989; opacity: 0.95;">首页</a>
					</p>
				</div>
				<div class="bottom_second">
					<img src="../img/home/order_gray.png" alt="" />
					<p>
						<a href="/order_successin" style="color: #898989; opacity: 0.95;">订单</a>
					</p>
				</div>
				<div class="bottom_third">
					<img src="../img/home/my.png" alt="" />
					<p>
						<a href="/myin/f" style="color: black; opacity: 0.95;">我的</a>
					</p>
				</div>
			</div>

		</div>

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<!--<script src="js/mui.min.js"></script>-->
		<!--<script src="../js/my.js"></script>-->
		<!--<script type="text/javascript">
			mui.init()
		</script>-->
	</body>

</html>