<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/register.css" />
	</head>

	<body>

		<div class="register_content">
			<!--头部-->
			<div class="header">
				<div class="header_left">
					<a href="javascript:history.go(-1)"><img src="../../img/home/back.png" alt="" /></a>
				</div>
				<div class="header_right">
					<div class="mui_title" style="font-weight: 700; font-family: " STSong ";">— 欢迎 · 注册 —</div>
					<div class="mui_title_two" style="font-weight: 200;">Welcom</div>
				</div>
			</div>

			<!--注册-->
			<div class="instruct" style="color: black;opacity: 0.8;">
				1输入手机号  　　    　>　      　2输入验证码  　      >　　     　3设置密码
			</div>
			<div class="register_box" style="margin-top: 40px;" style="position: relative;">
				<input type="" name="" id="" value="" placeholder="请输入短信验证码" style="padding-left: 10px;" />
				<div style="position: absolute;
    top: 150px;
    left: 253px;
    width: 99px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f1bf05;
    color: white;
    font-size: 12px;">发送验证码</div>
			</div>
			<a href="register_three.html">
				<input type="submit" name="" id="" value="提交验证码" class="regist" style="background-color: #623e24; letter-spacing: 2px; border: 0;  margin-top: 20px; height: 40px; font-size: 14px;" />
			</a>
		</div>

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/register.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>